// light yellow
$beekkeeper: #f6e58d;

// yellow
$turbo: #f9ca24;

// light orange
$spiced-nectarine: #ffbe76;

// orange
$quince-jelly: #f0932b;

// pink
$pink-glamour: #ff7979;

// dark pink
$carmine-pink: #eb4d4b;

// lime
$june-bud: #badc58;

// green
$pure-apple: #6ab04c;

// snow/ice
$coastral-breeze: #dff9fb;

// blue/ice
$hint-of-ice-pack: #c7ecee;

// light blue
$middle-blue: #7ed6df;

// blue
$greenland-green: #22a6b3;

// flourecent pink
$heliotrope: #e056fd;

// purple
$steel-pink: #be2edd;

// dark purple
$exodus-fruit: #686de0;

// darkness purple
$blurple: #4834d4;

// dark blue
$deep-koamaru: #30336b;

// darkness blue
$deep-cove: #130f40;

// light gray
$soaring-eagle: #95afc0;

// gray
$wizard-grey: #535c68;
