@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";
@import "node_modules/bootstrap/scss/root";
@import "node_modules/bootstrap/scss/reboot";
@import "node_modules/bootstrap/scss/type";
@import "node_modules/bootstrap/scss/images";
@import "node_modules/bootstrap/scss/code";
@import "node_modules/bootstrap/scss/grid";
@import "node_modules/bootstrap/scss/tables";
@import "node_modules/bootstrap/scss/forms";
@import "node_modules/bootstrap/scss/buttons";
@import "node_modules/bootstrap/scss/transitions";
@import "node_modules/bootstrap/scss/dropdown";
@import "node_modules/bootstrap/scss/button-group";
@import "node_modules/bootstrap/scss/input-group";
@import "node_modules/bootstrap/scss/custom-forms";
@import "node_modules/bootstrap/scss/nav";
@import "node_modules/bootstrap/scss/navbar";
// @import "node_modules/bootstrap/scss/card";
@import "node_modules/bootstrap/scss/breadcrumb";
@import "node_modules/bootstrap/scss/pagination";
@import "node_modules/bootstrap/scss/badge";
@import "node_modules/bootstrap/scss/jumbotron";
@import "node_modules/bootstrap/scss/alert";
@import "node_modules/bootstrap/scss/progress";
@import "node_modules/bootstrap/scss/media";
@import "node_modules/bootstrap/scss/list-group";
@import "node_modules/bootstrap/scss/close";
@import "node_modules/bootstrap/scss/toasts";
@import "node_modules/bootstrap/scss/modal";
@import "node_modules/bootstrap/scss/tooltip";
@import "node_modules/bootstrap/scss/popover";
@import "node_modules/bootstrap/scss/carousel";
@import "node_modules/bootstrap/scss/spinners";
@import "node_modules/bootstrap/scss/utilities";
@import "node_modules/bootstrap/scss/print";

@import "./variables";

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(transparent, $middle-blue);
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(transparent, $greenland-green);
}

header {
    height: 80px;
    background-color: white;
    display: flex;
    border-bottom: 2px solid $middle-blue;
    box-shadow: 0 0 20px -6px #000;

    .logo {
        width: 50px;
    }

    nav {
        width: 100%;
    }

    ul {
        display: flex;
        padding: 0;
        margin: 0;
        justify-content: space-between;
        list-style: none;

        a {
            color: $middle-blue;
            padding: 10px;

            &:hover {
                text-decoration: none;
                color: $greenland-green;
            }
        }
    }

    .actions {
        display: flex;
        justify-content: space-evenly;
    }

    .btn {
        position: relative;
        // display: inline-block;
        padding: 10px;
        background: none;
        color: $middle-blue;
        border-radius: 0;
        font-size: 16px;
        text-transform: uppercase;
        overflow: hidden;
        transition: 0.5s;
        letter-spacing: 4px;
        border: 2px solid $middle-blue;

        &:hover {
            background: $greenland-green;
            color: white;
            border: 2px solid $greenland-green;
            box-shadow: 0 0 5px $greenland-green,
                0 0 25px $greenland-green,
                0 0 50px $greenland-green,
                0 0 200px $greenland-green;
        }
    }
}

.card {
    position: relative;
    margin: 20px 0;

    &:hover {
        .card-group {
            &.card-header {
                .content {
                    opacity: 1;
                }
            }
            &.card-footer {
            }
        }
    }

    .card-group {
        width: 100%;
        max-width: 300px;
        height: 200px;

        &.card-header {
            position: relative;
            background: black;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 1;

            .content {
                display: flex;
                justify-content: center;
                align-items: center;
                opacity: 0.2;
                width: 100%;
                height: 100%;

                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }

        &.card-footer {
            position: relative;
            background: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 20px;
            box-sizing: border-box;
            box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);

            .content {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                width: 100%;
                height: 100%;

                h4,
                p {
                    margin: 0;
                    padding: 0;
                    word-break: break-word;
                }

                p {
                    font-size: 1.2rem;
                }
            }

        }
    }
}
